//
// Variables
//

// Typography
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Muli:400,300,300italic,400italic);

$title-san-serif:'Comfortaa', cursive;
$text-serif:'Muli', sans-serif;

// Colors

$mainColor:#D65350; // rojo
$btnActive:#963835; // rojo oscuro
$inActive:#A09E9E; // gris
$darkMain:#842C2A; // rojo log in
$lightColor: #F3F3EA;
$darkColor:#504E4E; // azul oscuro

//Transparentize
$amount-trans: .5;
$amount-light: 12%;
// Layout variables
$max-width: 1200px;

