<section class="submit-form signUp-form">
    <h2>Sign Up</h2>
    <form name="bandForm">
        <md-input-container class="md-block image-input">
            <div class="ng-hide file-preview">
                <button>x</button>
                <img src="" id="file_image" alt="Image preview...">
            </div>
            <div class="file-upload">
                <span><i class="fa fa-upload icon-form upload-icon"></i>Upload band photo/logo</span>
                <input type="file" name="image" id="file_input" />
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Nombre de la Banda/Artista</label>
            <input required name="name" type="text" ng-model="band.name" />
        </md-input-container>
        <md-input-container class="md-block">
            <label>Password</label>
            <input required type="password" name="password" ng-model="band.password" />
        </md-input-container>
            <md-input-container class="md-block">
            <label>Email</label>
            <input required type="email" name="email" ng-model="band.email" />
        </md-input-container>
        <md-input-container class="md-block">
            <label>About the band</label>
            <textarea ng-model="band.intro" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <md-content class="md-block">    
            <md-chips ng-model="newBand.selectedVegetables" md-autocomplete-snap="">
              <md-autocomplete 
                md-selected-item="newBand.selectedItem" 
                md-search-text="newBand.searchText" 
                md-items="item in newBand.querySearch(newBand.searchText)" 
                md-item-text="item.name" 
                md-selected-item-change="newBand.chipSearch(item)"
                placeholder="Add genres">
                <span md-highlight-text="newBand.searchText">{{item.name}}</span>
              </md-autocomplete>
              <md-chip-template><span>{{$chip.name}}</span></md-chip-template>
            </md-chips>
        </md-content>
        <div layout-gt-sm="row">
            <span class="md-block">Add links</span>
            <md-input-container class="md-block" flex-gt-sm>
                <md-checkbox ng-model="facebook"><i class="fa fa-twitter-square icon-form icon-form"></i></md-checkbox>
                <input type="text" ng-show="facebook" aria-label="facebook" name="facebook" ng-model="social.facebook"/>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <md-checkbox ng-model="twitter"><i class="fa fa-facebook-square icon-form"></i></md-checkbox>
                <input type="text" ng-show="twitter" aria-label="twitter" name="twitter" ng-model="social.twitter"/>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <md-checkbox ng-model="youtube"><i class="fa fa-youtube icon-form"></i></md-checkbox>
                <input type="text" ng-show="youtube" aria-label="youtube" name="youtube" ng-model="social.youtube"/>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <md-checkbox ng-model="website"><i class="fa fa-vimeo icon-form"></i></md-checkbox>
                <input type="text" ng-show="website" aria-label="website" name="website" ng-model="social.website"/>
            </md-input-container>
        </div>
        <md-button ng-click="newBand.add(band)">Sign Up</md-button>
    </form>
</section>