<h1>New Band</h1>
<div id="contact-form" class="clearfix">
    <form name="bandForm">
        <h3>User log in info: </h3>
        <h3>Banda</h3>
        <label for="name">Name Band: <span class="required">*</span></label>
        <input type="text" name="name" value="" required="required" ng-model="band.name"/>
        </br>
        <label for="password">Password: <span class="required">*</span></label>
        <input type="text" name="password" value="" required="required" ng-model="band.password"/>
        </br>
        <label for="image">Photo/Logo: <span class="required">*</span></label>
        <input type="file" name="image" id="file_input" value="" required="required"/>
        <input type="hidden" id="avatar_url" name="avatar_url" value="assets/default.png" ng-model="band.image"/>
        </br>
        <label for="intro">Intro: <span class="required">*</span></label>
        <textarea name="intro" placeholder="About" required="required" ng-model="band.intro"></textarea>
        <h3>Contacto</h3>
        <label for="website">Web Site: <span class="required">*</span></label>
        <input type="text" name="website" ng-model="band.website"/>
        </br>
        <label for="email">Email Address: <span class="required">*</span></label>
        <input type="email" name="email" required="required" ng-model="band.email"/>
        </br>
        <label for="telephone">Telephone: </label>
        <input type="tel" name="telephone" ng-model="band.telephone"/>
        </br>
        <label for="telephone">Social Media Links: </label>
        </br>
        <label><input type="checkbox" ng-model="facebook" value="facebook">Facebook</label>
        <input type="text" ng-show="facebook" name="facebook" ng-model="social.facebook"/>
        </br>
        <label><input type="checkbox" ng-model="twitter" value="twitter">Twitter</label>
        <input type="text" ng-show="twitter" name="twitter" ng-model="social.twitter"/>
        </br>
        <label><input type="checkbox" ng-model="youtube" value="youtube">Youtube</label>
        <input type="text" ng-show="youtube" name="youtube" ng-model="social.youtube"/>
        </br>
        <label><input type="checkbox" ng-model="website" value="website">Website</label>
        <input type="text" ng-show="website" name="website" ng-model="social.website"/>
        </br>
        <input type="submit" ng-click="newBand.add(band, social)" value="Save" />
        <p id="req-field-desc"><span class="required">*</span> indicates a required field</p>
    </form>
</div>